$white-font: #ffffff;
$chatspace-blue: #38aef0;
$font-type: bold;

.wrapper{
  margin: 0px;
  padding: 0px;
  .chat-main{
    width: calc(100vw - 300px);
    float: left;
    animation: fadeIn 2s ease 0s 1 normal;
      -webkit-animation: fadeIn 2s ease 0s 1 normal;
      @keyframes fadeIn {
        0% {opacity: 0}
        100% {opacity: 1}
      }
      @-webkit-keyframes fadeIn {
        0% {opacity: 0}
        100% {opacity: 1}
      }
    .main-header{
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      background-color: #fff;
      overflow: scroll;
        &__left-box{
          margin-top: 35px;
        }
          &__left-box__current-group{
            font-size: 25px;
            color: #333;
            // margin-bottom: 15px;
            // padding: 0;
            // margin: 0;
          }
            &__left-box__member-list{
              display: flex;
              font-size: 12px;
              color: #999999;
            }
            &__member{
              font-size: 12px;
              color: #999999;
            }
              &__edit-button{
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                margin-top: 30px;
                border: solid 1px $chatspace-blue;
                color: $chatspace-blue;
                position: absolute;
                right: 40px;
              }
              .edit-button1{
                text-decoration: none;
                color: $chatspace-blue;
                height: 40px;
                // width: 90px;
              }
      }
      .messages{
        height: calc(100vh - 190px);
        background-image: image-url("workplace.jpg");
        padding: 46px 40px;
        overflow: scroll;
        .message{
          box-sizing: border-box;
          padding-bottom: 40px;
          background-color: rgba(17, 17, 17, 0.3);

          .upper-message{
            display: flex;
            margin-bottom: 10px;
          }
            .upper-message__user-name{
              color: #434a54;
              background-color: rgb(192, 190, 190);
              font-size: 16px;
              font-weight: bold;
              line-height: 8px;
            }
              .upper-message__date{
                color: #e5e2e2;
                font-size: 12px;
                margin-left: 10px;
                line-height: 16px;
              }
              .lower-message__content{
                color: #000000;
                font-size: 14px;
                margin-bottom: 10px;
              }
            }
          }
        .form {
          background-color: #DDDDDD;
          box-sizing: border-box;
          height: 90px;
          padding: 20px 40px 20px 40px;
          &__message {
            border: none;
            float: left;
            height: 50px;
            width: calc(100% - 200px);
            padding: 0 40px 0 10px;
          }
          &__mask {
            background-color: $white;
            float: left;
            height: 50px;
            padding-right: 10px;
            &__image {
              font-size: 20px;
              line-height: 50px;
            }
            .hidden {
              display: none;
            }
          }
          &__submit {
            background-color: $light_blue;
            border: none;
            color: $white;
            float: right;
            font-size: 20px;
            height: 50px;
            // width: 90px;
            margin-left: 10px;
            padding: 0 40px;
          }
        }
      }
  }
